<!-- <p>{{ content }}</p>

<textarea [(ngModel)]="texto"></textarea>
<button mat-raised-button color="primary" (click)="showText()">Guardar</button> -->

<form (submit)="addPost(postFormular)" #postFormular="ngForm">
  <mat-form-field appearance="fill">
    <mat-label> Title</mat-label>
    <input type="text" matInput ngModel title="ngModel" name="title" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Summary</mat-label>
    <input type="text" matInput ngModel summary="ngModel" name="summary" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Content</mat-label>
    <textarea matInput ngModel content="ngModel" name="content"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Guardar</button>
</form>

<!-- <p *ngFor="let item of posts">{{ item.title }}</p> -->
<p *ngIf="posts.length === 0">No se han agregado posts</p>

<mat-card *ngFor="let item of posts">
  <mat-card-title>{{ item.title }}</mat-card-title>
  <mat-card-subtitle>{{ item.summary }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{ item.content }}</p>
  </mat-card-content>
</mat-card>
